.pageTitleCont {
  background-color:#f5f5f5;
}
.container {
  /* width: 1200px; */
  margin: 0 auto;
  padding: 0 15px;
}
.relative {
  position: relative;
}
.alignLeft {
  text-align: left;
}

.breadcrumbs {
  font-size: 13px;
  font-weight: normal;
      letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin:  0;
    padding: 0 0 0;
    border: 0;
    padding-top: 5%;
    padding-left: 4%;
}
.breadcrumbs a, .breadcrumbs span {
  color: #6c757d;
  text-decoration: none;

}
.breadcrumbs a:hover {
  color: #121213;
}
.breadcrumbs .current {
  color: #343a40;
  font-weight: 700;
}
.divider {
  margin: 0 10px;
}

.current {
  color: #000;
}

@media (max-width: 768px) {
  .breadcrumbs {
    padding-top: 10%;
    padding-left:2%;
  }
}
